.main_footer {
    background-color: #13100a;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-container{
    margin: 0 auto;
    padding: 0 20px;


}


.footer-link {
    flex: 1 0 20%;
    text-align: center;
    margin-bottom: 10px;
}

.footer-link a {
    color: #dedcdc;
    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}

.copyrigt_text {
    margin-top: 20px;
}

.social-icons {
    margin-top: 15px;
    border-top: 2px solid #1e1d16;
    padding: 2%;
}
.social-icons a {
    margin-right: 10px;
    color: #fcf9f9;
}


.social-icons a:last-child {
    margin-right: 0;
}
.footer_top{
    text-align: center;
}
.title{
        width: 100%;
    }

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .footer-link {
        flex: 1 0 50%;
    }
}

@media only screen and (max-width: 576px) {
    .footer-link {
        flex: 1 0 100%;
    }
}
